/* Tailwind SCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom SCSS*/
@layer base {
    .swiper-horizontal {
        touch-action: pan-y;
    }
}

@layer components {

    /* Swiper Slider Component */
    .swiper {
        @apply mx-auto relative list-none p-0 z-[1] block overflow-hidden;

        .swiper-slide,
        .swiper-wrapper {
            transform: translate3d(0, 0, 0);
        }

        .swiper-wrapper {
            @apply relative w-full h-full z-[1] flex box-content pb-5;
            transition-property: transform;
            transition-timing-function: initial;

            .swiper-slide {
                @apply flex-shrink-0 w-full h-full relative block;
                transition-property: transform;
            }
        }
    }

    /* Swiper Button Component */
    .swiper-button-prev,
    .swiper-button-next {
        @apply absolute top-[50%] z-10 cursor-pointer flex items-center justify-center;
    }

    .swiper-button-next {
        @apply right-3 left-auto;
    }

    .swiper-button-prev {
        @apply left-3 right-auto;
    }

    /* Swiper Pagination Component */
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        @apply bottom-2 top-auto left-0 w-full flex justify-center;

        .swiper-pagination {
            @apply absolute items-center z-10 flex;
            transition: 300ms opacity;
            transform: translate3d(0, 0, 0);
        }

        .swiper-pagination-bullet {
            @apply w-2 h-2 rounded-full bg-alt6 mr-3 inline-block;

            &.swiper-pagination-bullet-active {
                @apply bg-alt4;
            }
        }
    }

}