@layer components {
    .ads {
        position: relative;

        &::after {
            content: 'Ad';
            @apply h-[25px] w-[48px] bg-black text-white text-[13px] leading-[19px] font-bold font-alt;
            @apply flex justify-center items-center absolute top-0 right-0;
        }

    }

    .btn-primary {
        @apply font-alt text-[14px] font-semibold leading-[26px] bg-alt6 w-[125px] h-[46px] flex items-center justify-center border-none text-white no-underline hover:bg-alt rounded-[3px] cursor-pointer;
    }

    .btn-secondary {
        @apply font-alt text-[13px] font-medium leading-[15px] bg-alt9 h-[36px] flex items-center justify-center border-none text-white no-underline hover:bg-alt1 cursor-pointer;
    }

    .ticket-light {
        background-image: radial-gradient(circle at 0 67.5%, rgba(white, 0) 10px, white (10px + 2px)), radial-gradient(circle at 100% 67.5%, rgba(white, 0) 10px, white (10px + 2px));
    }

    .ticket-dark {
        background-image: radial-gradient(circle at 0 67.5%, rgba(#3B3E47, 0) 10px, #3B3E47 (10px + 2px)), radial-gradient(circle at 100% 67.5%, rgba(#3B3E47, 0) 10px, #3B3E47 (10px + 2px));
    }

    .ticket {
        @apply inline-block box-content relative bg-no-repeat;
        filter: drop-shadow(0px 4px 8px rgba(black, .5));
        background-size: 51% 100%;
        background-position: top left, top right;
    }
}